.statutory-documents-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  font-family: Verdana;
  flex-direction: column;
}
.statutory-documents-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  margin-left: 0px;
  padding-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.statutory-documents-navlink {
  display: contents;
}
.statutory-documents-icon {
  fill: var(--dl-color-primary-lightgrey);
  width: 70px;
  height: 70px;
  text-decoration: none;
}
.statutory-documents-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.statutory-documents-text {
  color: var(--dl-color-primary-pink);
  align-self: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.statutory-documents-container3 {
  flex: 1;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.statutory-documents-ul {
  height: 100%;
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.statutory-documents-li {
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Verdana;
  font-weight: 400;
  line-height: 1.15;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-primary-lightgrey);
}
.statutory-documents-text1 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  text-align: left;
  font-family: Verdana;
  font-weight: 400;
  line-height: 4;
  text-transform: none;
  text-decoration: none;
}
.statutory-documents-li1 {
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-lightgrey);
}
.statutory-documents-text2 {
  font-size: 20px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 4;
  text-transform: none;
  text-decoration: none;
}
.statutory-documents-li2 {
  color: var(--dl-color-gray-black);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  list-style-type: disc;
  background-color: var(--dl-color-primary-lightgrey);
  list-style-image: none;
  list-style-position: outside;
}
.statutory-documents-text3 {
  font-size: 20px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 4;
  text-transform: none;
  text-decoration: none;
}
