.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.footer-container {
  width: 100%;
  bottom: 0;
  height: auto;
  display: flex;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: 0px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #e61159;
}
.footer-navlink {
  display: contents;
}
.footer-status {
  fill: var(--dl-color-gray-900);
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}
.footer-navlink1 {
  display: contents;
}
.footer-contacts {
  fill: var(--dl-color-gray-900);
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}
.footer-navlink2 {
  display: contents;
}
.footer-icon2 {
  fill: var(--dl-color-gray-900);
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}
.footer-navlink3 {
  display: contents;
}
.footer-chat {
  fill: var(--dl-color-gray-900);
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 0px;
  text-decoration: none;
}
.footer-navlink4 {
  display: contents;
}
.footer-docs {
  fill: var(--dl-color-gray-900);
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}


.footer-root-class-name2 {
  align-self: center;
}




.footer-root-class-name7 {
  align-self: center;
}


@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
}
