.password-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.password-password {
  width: var(--dl-size-size-xxlarge);
  margin-top: var(--dl-space-space-twounits);
}
.password-eye {
  fill: #b1aba8;
  right: 10px;
  width: 37px;
  bottom: 4px;
  height: 29px;
  position: absolute;
}
